<style>
  * {
    font-family: 'Microsoft Sans Serif', 'MS Sans Serif', sans-serif;
    font-size: 4vh;
  }

  .loginTitle {
    margin: 20vh;
    margin-bottom: 5vh;
    text-align: center;
  }

  .loginTitle h1 {
    font-size: 6vh;

  }

  form {
    display: block;
    text-align: center;
  }

  div .register {
    margin-bottom: 5vh;
  }

  input {
    height: 8vh;
    width: 55vh;
    border: 1px solid black;
    outline: none;
  }

  button {
    margin-top: 5vh;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    padding: 2vh 4vh;
    box-shadow: 0px 4px 5px -2px rgba(20%, 20%, 40%, 0.5);
    outline: none;
  }

  button:hover {
    background-color: rgb(235, 235, 235);
    box-shadow: none;
  }

  .alert {
    color: red;
    font-weight: bolder;
    font-size: 2vh;
    margin: auto;
  }
</style>
<div class="d-block ">
  <div class="loginTitle">
    <h1>Register</h1>
  </div>
  <div>
    <form method="Post" action="/register">
      <div class="register">
        <input name="name" id="email" placeholder="  Name">
      </div>
      <div class="register">
        <input type="Email" name="email" id="email" placeholder="  Email">
      </div>
      <div class="register">
        <input type="password" name="password" placeholder="  Password">
      </div>
      <div class='d-flex justify-content-between align-item-center'>
        <button type="submit">Register</button>
      </div>
      {{#if errString}}
      <span class="alert">{{errString}}</span>
      {{/if}}
      {{#if errString1}}
      <span class="alert">{{errString1}}</span>
      {{/if}}
    </form>
  </div>
</div>
</div>
</div>